{% extends "bookings/base.html" %}

{% block title %}Movies | Movie Theater Booking{% endblock %}

{% block content %}
<h1>Movies</h1>
<div class="row g-4">
    {% for movie in movies %}
        <div class="col-md-6">
            <article class="card h-100">
                <div class="card-body">
                    <h2 class="card-title h4">{{ movie.title }}</h2>
                    <p class="card-text">{{ movie.description }}</p>
                    <p class="card-text">
                        <strong>Release date:</strong> {{ movie.release_date|date:"F j, Y" }}<br>
                        <strong>Duration:</strong> {{ movie.duration }} minutes
                    </p>
                    <a class="btn btn-primary" href="{% url 'book_seat' movie.id %}">Book Now</a>
                </div>
            </article>
        </div>
    {% empty %}
        <div class="col-12">
            <p class="alert alert-info">No movies are showing right now</p>
        </div>
    {% endfor %}
</div>
{% endblock %}
